# Sistema
Thumbs.db
.DS_Store

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp

# Cache
.cache/
*.cache

# Editor / IDE
.vscode/
.idea/

# Python (caso use depois)
__pycache__/
*.pyc

# Node (caso use no futuro)
node_modules/

# Ambiente
.env

# Build / executáveis
dist/
build/
*.exe

# Backup / testes locais
legacy/